#sidebar{
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;

}
#maincon{
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;

}

.sideclass{
  margin-bottom: 2vh;
  
}